* {
  margin: 0;
  padding: 0;
}





#mainContainer {
        background-color: #EDE0D4   ;
        padding-top: 20px;
}




#mainContainer h1 {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    flex-grow: 1;
    color: #362116;

}

#mainContainer p {
    
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    color: #523624;
    padding: 23px;
}

#mainContainer button {
      display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background: linear-gradient(270deg, #fdfdfd, #f3f0f0, #edebeb, #7F5539);
    background-size: 600% 600%;
    border: none;
    border-radius: 8px;
    margin: auto;
}

#mainContainer button:hover {
    box-shadow: 0 0 20px 5px rgba(87, 87, 87, 0.7);
      transform: scale(1.08);
        animation-duration: 8ms;
  animation: moveRadial 8s ease-in-out infinite;
  }












#PatisserieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eeeeee;
}


#PatisserieContainer h2 {
    display: flex;
    justify-content: space-around;
    animation-timing-function: #f1e6dc;
}


#PatisserieContainer img {
 padding: auto;
}

#PatisserieContainer p {
color: #352a1f;
}



#PatisserieContainer div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 260px;
    height: 400px;
    padding: 19px;   
    margin: 19px;
    text-align: center;
    background-color: #EDE0D4;
}
    


#ServicesContainer {
            background-color: #EDE0D4   ;
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ServicesContainer div {
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #eeeeee;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 260px;
height: 122px;  
  padding: 19px;   
    margin: 19px;
    text-align: center;
    background-color: #eeeeee;
}

#ServicesContainer h3 {
     display: flex;
    justify-content: space-around;
    animation-timing-function: #f1e6dc;
}

#ServicesContainer p {
    color: #352a1f;

}





